$mainColor: #0066ff;
$secondColor: #cacaca;

.select {
    margin-top: 10px;
    h4{
        font-weight: 600;
        color: $mainColor;
    }
    select{
        cursor: pointer;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid $mainColor;
        border-radius: 3px;
    }
    .option {
        cursor: pointer;
    }
}